
#show {
    margin-top: 1dvw;
    margin-top: 1dvw;
    text-align: center;
    width: 35vw;
    color: white;
    background-color: rgb(94, 94, 94);
    margin-left: 32vw;
    border-radius: 0.3vw;
}