    ::placeholder {
        color: rgb(0, 0, 0);
        font-size: 1.2dvw;
        font-weight: 500;
        text-align: center;
    }

    h1 {
        font-family: sans-serif;
        text-align: center;

    }

    .btn {
        margin-top: 1dvw;
        width: 17dvw;
        color: rgb(0, 0, 0);
        font-weight:600;
        font-size: 1.2vw;
        margin-left: 40vw;
    }
    input {
        border-width: 0.2dvw;
        margin-left: 40vw;
        height: 3dvw;
        width: 17dvw;
    }

    .fromm {

        height: 5dvw;
    }
